*{
  margin: 0;
}
.level{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;
}
.title{
  color: #43d243;
}
.description{
  font-size: 40px;
}
.level {
  font-size: 100px;
  font-family: Ubuntu;
  color: yellow;
}

.imageFunny{
  width: 500px;
  height: 500px;
  background-image: url("seeds/bob-esponja-dançando.gif");
  background-size: 100%;
}

.app{
  width: 100%;
  height: 130vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

}
.bodyGame{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
.displayGame{
  width: 700px;
  border-radius: 500px;
  padding: 30px;

  box-shadow: inset #000000 0px 0px 44px 10px;
  box-shadow: rgba(0, 0, 0, 0.89) 10px 10px 15px 11px;
  background-color: rgba(30, 30, 30, 0.92);

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;

  align-items: center;
  justify-content: center;

  gap: 0px;
}
.menuGame{
  width: auto;
  display: flex;

  align-items: center;
  justify-content: center;

  position: absolute;
}
.menuGame div {
  width: 250px;
  height: 250px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  border: solid black 30px;
  background-color: rgb(10, 51, 150);
  box-shadow: inset #0a3396 0px 0px 50px 25px;
  border-radius: 500px;
}
.startBtn {
  padding: 10px;

  width: 150px;

  background-color: black;
  color: white;

  font-weight: bold;
  font-size: 20px;

  height: 50px;

  cursor: pointer;

  border-radius: 13232px;
  margin-top: 10px;
}
.menuGame div button:hover{
  background-color: orange;
}
.running {
  border-radius: 500px;
  border: none;
  background-color: #000000;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.gameOver{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("seeds/img.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}