*{
  margin: 0;
  height: 100%;
}
body {
  background-color: #fff;
  -webkit-animation: random 5s infinite;
  animation: random 1s infinite;
}
@keyframes  random {
  15% { background-color: red; }
  15% { background-color: black; }
  30% { background-color: yellow; }
  45% { background-color: green; }
  60% { background-color: blue; }
  75% { background-color: #f700ff; }
  75% { background-color: #81f5c5; }
  75% { background-color: #093cb9; }
  75% { background-color: white; }
  75% { background-color: #cbcb0a; }
  75% { background-color: #3b3bef; }
  75% { background-color: #1d8a06; }
}

.app{
  width: 100%;
  height: 130vh;

  display: flex;

  box-shadow: inset #1e1e1e 0px 0px 540px 10px;
}
.bodyGame{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.game{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
.displayGame{
  width: 700px;
  border-radius: 500px;
  padding: 30px;

  box-shadow: inset #000000 0px 0px 44px 10px;
  box-shadow: rgba(0, 0, 0, 0.89) 10px 10px 15px 11px;
  background-color: rgba(30, 30, 30, 0.92);

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;

  align-items: center;
  justify-content: center;

  gap: 0px;
}
.menuGame{
  width: auto;
  display: flex;

  align-items: center;
  justify-content: center;

  position: absolute;
}
.menuGame div {
  width: 250px;
  height: 250px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  border: solid black 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset #000000 0px 0px 50px 25px;
  border-radius: 500px;
}
.startBtn {
  padding: 10px;

  width: 150px;

  background-color: black;
  color: white;

  font-weight: bold;
  font-size: 20px;

  height: 50px;

  cursor: pointer;

  border-radius: 13232px;
  margin-top: 10px;
}
.menuGame div button:hover{
  background-color: orange;
}
.running {
  border-radius: 500px;
  border: none;
  background-color: #000000;
  width: 200px;
  height: 200px;
  cursor: pointer;
}